.automatontemplate-chatbar
{
    position: absolute;
    top: 9px;
    width: 300px;
    background: var(--light);
}

.automatontemplate-chatbar.open
{
    right: 0;
}

.automatontemplate-chatbar.closed
{
    right: -288px;
}

.automatontemplate-chatbar .wrapper
{
    max-height: 500px;
    overflow: auto;
}


.automatontemplate-chatbar button.rounded
{
    background: var(--light);
    color: var(--blue);
    position: relative;
    left: -40px;
}
